---
- name: Download Zabbix repository package
  get_url:
    url: https://repo.zabbix.com/zabbix/6.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_6.0-4+ubuntu22.04_all.deb
    dest: /tmp/zabbix-release.deb
    mode: '0644'

- name: Install Zabbix repository
  apt:
    deb: /tmp/zabbix-release.deb
    state: present

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Zabbix Agent 2
  apt:
    name: zabbix-agent2
    state: present

- name: Configure Zabbix Agent
  template:
    src: zabbix_agent2.conf.j2
    dest: /etc/zabbix/zabbix_agent2.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart Zabbix Agent

- name: Start and enable Zabbix Agent 2
  systemd:
    name: zabbix-agent2
    state: started
    enabled: yes
